.name-section{
    display: none;
}

.filtr-project{
    display: flex;
    flex-wrap: wrap;

}
.filtr-content{
    padding-top: 94px;
    padding-bottom: 94px;

}
/* button-filter */
.btn-filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.btn-filtr .item + .item{
    margin-left: 8px;
}
.button{
    background-color:#F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;
    display: inline-block;
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px;

}
.button:hover, 
.button:focus{
    background-color:var(--akcent-color);
    color: #FFFFFF;

}

.flex-elements{
    width: ((100%-60px)/3);

}

.flex-elements:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}

.flex-elements:not(:nth-child(3n)){
    margin-right: 30px;

}
.project-style{
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.card-image{
    display: block;
}
/* projects */

.projects-title{
    color: var(--title-text-color);
    font-weight: 700;   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;

}
.projects-types{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    

}
.projects-comments{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    display: none;

    
}


