/* hero */
.hero{
    display: flex;
    text-align:center;
    padding-top: 200px;
    padding-bottom: 200px;

}

.hero .hero-title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color:var(--primeri-white-color);
    font-weight: 900;
    font-size: 44px;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.overlay{
    min-width: 1600px;
    height: 600px;
    background-size: 1600px;
    background-image: linear-gradient(   
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/* hero-button*/
.button{
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    text-align: center;
    border-radius: 4px;
    border-style: none;


    background-color: var(--akcen-color-button);
    color: var(--primeri-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
    

}


/* section-features*/
.features{
    padding-top: 94px;
    padding-bottom: 94px;

}
.feature{
    display: flex;

}
.feature .item{
    width: 270px;
}
.section-name{
    display: none;
}
.features .item +.item{
    margin-left: 30px;
}
.features .title{
    margin-left: auto;
    margin-right: auto;

    color:var(--title-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
}
.features .text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    
}



    /* work-section */
.work-list{
    display:flex;
}

.work{
    padding-bottom: 94px;

}
.work-title{
    color:var(--title-text-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    /* padding-top: 94px; */
    margin-bottom: 50px;

}

.work-list .example +.example{
    margin-left: 30px;
}



 /* team-section */

.team-section{
    background-color: #F5F4FA;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
    text-align: center;

}
.team-list .item +.item{
    margin-left: 30px;
}
.team .team-title{
    color:var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
}
.team .team-card{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height:1.19 ;
    letter-spacing: 0.03em;
   

}
.team-position{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;

}
.team-name{
    padding-top: 30px;
    padding-bottom: 30px;
}
